html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Raphaël Xmas 2023

    link(href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css', rel='stylesheet')
    Style
        block styles
            include ../css/home.css

    block head

  body
    block content

    
